
/* Dropdown Button */
.dropbtnI, .dropbtnP {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtnI:hover, .dropbtnI:focus, .dropbtnP:hover, .dropbtnP:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    float: center;
    padding-right: 10px;
    padding-bottom: 10px;
    display: inline-block;
    z-index: 2;
}

.dodaj, .beri, .vpisiMeritevPacient {
    position: relative;
    float: right;
    margin-top: 4px;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    font-family: Comic Sans MS;
    border: none;
}

#pacienti {
    width: 200px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-contentI, .dropdown-contentP {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-contentI a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-contentP a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-contentI a:hover {background-color: #f1f1f1}

/* Change color of dropdown links on hover */
.dropdown-contentP a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}